:root {
	--primary-color: #007bff;
	--success-color: #28a745;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}
